asgiref==3.8.1
black==24.10.0
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2024.10
Django==5.1.4
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-filter==24.3
flake8==7.1.2
gunicorn==23.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
python-dotenv==1.0.1
sqlparse==0.5.2
tzdata==2024.2
whitenoise==6.9.0
