{% extends "base.html" %}
{% block content %}
  {% if material_list %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <div class="d-flex align-items-center justify-content-between">
                  <h1 class="nav-tabs-title">Materials:</h1>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a class="nav-link active"
                         href="{% url 'production:material-create' %}"
                         title="Add material"
                      >
                        <i class="material-icons">add</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive h4">
              <table class="table">
                <thead class="text-success">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% for material in material_list %}
                  <tr>
                    <td>{{ material.id }}</td>
                    <td>
                      <a class="page-link text-success"
                         href="{% url 'production:material-detail' pk=material.id %}"
                      >
                        {{ material.name }}
                      </a>
                    </td>
                    <td>{{ material.type }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% include "includes/pagination.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-primary">There are no materials in the service now!</h2>
      {% if worker.id == user.id or user.is_staff %}
        <a class="btn btn-primary btn-sm"
           href="{% url 'production:material-create' %}"
           title="Add material"
        >
          <i class="material-icons">add</i>
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{% block pagination %}
{% endblock %}