{% extends "base.html" %}
{% block content %}
<hr>
<div class="d-flex justify-content-between align-items-center">
  <h1>
    Order: {{ order }}
  </h1>
  {% if user.is_staff %}
    <a class="btn btn-danger btn-sm"
       href="#"
       title="Delete Order"
    >
      <i class="material-icons">delete</i>
    </a>
  {% endif %}
</div>
<hr>
<div>
  <h2>Base information:</h2>
  <br>
  <p><strong>Owner:</strong> {{ order.owner_full_name }}</p>
  <p><strong>Manager:</strong> {{ order.manager }}</p>
  <p><strong>Post:</strong> {{ order.country_post }}</p>
  <p><strong>Creation time:</strong> {{ order.creation_time }}</p>
  <div class="d-flex  align-items-baseline justify-content-between">
    <p><strong>Status:</strong> {{ order.get_status_display }}</p>
    {% if order.status == order.READY_TO_PRINT %}
      <form action="" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Mark as Problem</button>
      </form>
    {% endif %}
  </div>
  <p><strong>Comment:</strong> {{ order.comment }}</p>
</div>
<hr>
<div>
  <h2>Production details:</h2>
  <p><strong>Image:</strong> {{ order.image_name }}</p>
  <p><strong>Material:</strong> {{ order.material }}</p>
  <p><strong>Square meters:</strong> {{ order.square_meters }} m².</p>
  <p><strong>Tiles count:</strong> {{ order.tiles_count }}</p>
  <p><strong>Wide tile width:</strong> {{ order.wide_tile_width }} mm.</p>
  <p><strong>Narrow tile width:</strong> {{ order.narrow_tile_width }} mm.</p>
</div>
<hr>
<div>
  <h2>Performing details:</h2>
  <p><strong>Performed by:</strong> {{ order.performer }}</p>
  <p><strong>Performing time:</strong> {{ order.performing_time }}</p>
</div>
<hr>
<div>
  <a class="btn-link page-link" href="{% url 'production:order-list' %}"> < Back to Orders List</a>
</div>
{% endblock %}

