{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  {% if order_list %}
    {% include "includes/filter_form.html" %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-warning">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <div class="d-flex align-items-center justify-content-between">
                  <h1 class="nav-tabs-title">Orders:</h1>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a class="nav-link active"
                         href="#"
                         title="Add order"
                      >
                        <i class="material-icons">add</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive h4">
              <table class="table text-center">
                <thead class="text-warning">
                <tr>
                  <th>ID</th>
                  <th>Code</th>
                  <th>Post</th>
                  <th>Material</th>
                  <th>Tiles count</th>
                  <th>Square meters</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for order in order_list %}
                  <tr>
                    <td>{{ order.id }}</td>
                    <td>
                      <a class="page-link text-warning"
                         href="{% url 'production:order-detail' pk=order.id %}"
                      >{{ order.code }}</a>
                    </td>
                    <td>{{ order.country_post }}</td>
                    <td>{{ order.material.name }}</td>
                    <td>{{ order.tiles_count }}</td>
                    <td>{{ order.square_meters }} m²</td>
                    <td>{{ order.get_status_display }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% include "includes/pagination.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-primary">There are no orders in the service now!</h2>
    </div>
  {% endif %}
{% endblock %}
{% block pagination %}
{% endblock %}