{% extends "base.html" %}

{% block content %}
  <h1>Queue: #{{ printqueue.id }}</h1>
  <hr>
  <table class="table table-bordered">
    <tr>
      <th>Workplace</th>
      <td>{{ printqueue.workplace }}</td>
    </tr>
    <tr>
      <th>Tiles Count</th>
      <td>{{ printqueue.summary.total_tiles }}</td>
    </tr>
    <tr>
      <th>Square Meters</th>
      <td>{{ printqueue.summary.total_area }}</td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>{{ printqueue.creation_time|date:"Y-m-d H:i" }}</td>
    </tr>
  </table>
  <hr>
  <br>
  <div>
    {% if printqueue.orders.exists %}
      <div class="card card-plain">
        <div class="card-header card-header-tabs card-header-warning rounded">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <div class="d-flex align-items-center justify-content-between">
                <h1 class="nav-tabs-title">Orders</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive h4">
            <table class="table">
              <thead class="text-warning">
              <tr>
                <th>Order ID</th>
                <th>Material</th>
                <th>Size (m²)</th>
                <th>Tiles Count</th>
                <th>Details</th>
              </tr>
              </thead>
              <tbody>
              {% for order in printqueue.orders.all %}
                <tr>
                  <td>{{ order.id }}</td>
                  <td>{{ order.material.name }}</td>
                  <td>{{ order.square_meters }}</td>
                  <td>{{ order.tiles_count }}</td>
                  <td>
                    <a href="{% url 'production:order-detail' pk=order.id %}" 
                       class="btn btn-warning btn-sm"
                    >View Order</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% else %}
      <p class="text-danger"> No orders in this queue! </p>
    {% endif %}
  </div>
  <a href="{% url 'production:workplace-detail' pk=printqueue.workplace.id %}" class="btn bg-inverse">< Back to
    Workplace</a>

{% endblock %}