{% extends "base.html" %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      Workplace: {{ workplace.name }}
    </h1>
    {% if user.is_staff %}
      <div>
        <a class="btn bg-secondary btn-sm"
           href="{% url 'production:workplace-update' pk=workplace.id %}"
           title="Edit workplace"
        >
          <i class="material-icons">edit</i>
        </a>
        <a class="btn btn-danger btn-sm"
           href="#"
           title="Delete Workplace"
        >
          <i class="material-icons">delete</i>
        </a>
      </div>
    {% endif %}
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div>
        {% if workplace.printers.all %}
          <div class="card card-plain">
            <div class="card-header card-header-tabs card-header-primary rounded">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <div class="d-flex align-items-center justify-content-between">
                    <h1 class="nav-tabs-title">Printers</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive h4">
                <table class="table">
                  <thead class=" text-primary">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Materials</th>
                    <th>Print queues</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for printer in workplace.printers.all %}
                    <tr>
                      <td>{{ printer.id }}</td>
                      <td>
                        <a href="{% url 'production:printer-detail' pk=printer.id %}"
                           class="page-link text-primary"
                        >
                          {{ printer.full_name }}
                        </a>
                      </td>
                      <td>
                        <ul class="list-unstyled">
                          {% for material in printer.materials.all %}
                            <li>
                              <a href="#">
                                {{ material.name }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% if user in workplace.workers.all or user.is_staff %}
            <div class="d-flex justify-content-center">
              <a class="btn bg-primary"
                 href="#"
              >
                <i class="material-icons">add</i>
                Create Print Queue
              </a>
            </div>
          {% endif %}
        {% else %}
          <p class="text-danger">There are no printers yet!</p>
        {% endif %}
      </div>
      <hr>
      <br>
      <div>
        {% if workplace.workers.all %}
          <div class="card card-plain">
            <div class="card-header card-header-tabs card-header-primary rounded">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <div class="d-flex align-items-center justify-content-between">
                    <h1 class="nav-tabs-title">Workers</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive h4">
                <table class="table">
                  <thead class=" text-primary">
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Phone number</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for worker in workplace.workers.all %}
                    <tr>
                      <td>{{ worker.id }}</td>
                      <td>
                        <a href="{{ worker.get_absolute_url }}"
                           class="page-link text-primary"
                        >
                          {{ worker.username }}
                        </a>
                      </td>
                      <td>{{ worker.first_name }} {{ worker.last_name }}</td>
                      <td>{{ worker.phone_number }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% else %}
          <p class="text-danger"> There are no workers yet! </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}